//nuxt.config.js의 css 파트에서 import함
.drag-false {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.clk {
	&:hover {
		cursor: pointer;
	}
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

// OG CodePen styles
body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

// Challenge Styles
*,
*:before,
*:after {
  box-sizing: border-box;
}

$measurement: 0.125em;

.multi-button {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  button {
    background: white;
    border: $measurement solid;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    &:before,
    &:after {
      content: '';
      position: absolute;
      transition: all 0.125s ease-in-out;
    }

    &.cut {
      background: none;
      border-color: transparent;
			color : #001285;
	    font: 600 0.7rem/1.25 'Montserrat', sans-serif;
	    letter-spacing: $measurement;
	    margin: 0.3rem;
	    padding: 0.5em 0.75em;
      &:before,
      &:after {
        transition: all 0.175s ease-in-out;
      }
      &:before {
        background: black;
        border: 0px dashed #001285;;
        left: $measurement * -1;
        top: $measurement * -1;
        right: $measurement * -1;
        bottom: $measurement * -1;
        z-index: -1;
      }
      &:hover:before,
      &:focus:before {
        background: white;
        border-width: $measurement;
      }
      &:after {
        background: white;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
      }
    }

    &.copy {
	    font: 600 0.9rem/1.25 'Montserrat', sans-serif;
	    letter-spacing: $measurement;
	    margin: 0.5rem;
	    padding: 0.5em 0.75em;
      &:after {
        border: $measurement dashed black;
        bottom: $measurement * -1;
        left: $measurement * -1;
        right: $measurement * -1;
        top: $measurement * -1;
        z-index: -1;
      }
      &:hover:after,
      &:focus:after {
        bottom: $measurement * -3;
        left: $measurement;
        right: $measurement * -3;
        top: $measurement;
      }
    }
  }
}
